// Color variables
$background-primary: #0a0b0d;
$background-secondary: #1a1b21;

$button-color: #1335f5;
$button-color-hover: #4560f7;

$link-color-hover: #b8bbbc;

// Font variables
$font-color-primary: #fff;
$font-color-secondary: #a3a5a6;
